<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/demo.css" rel="stylesheet">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inhouse Ingredient Detail</h1>
<form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p>Ingredient name: <input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="warn">Price Error</p>

<p>Ingredient price: <input type="text" path="price" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="warn">Price Error</p>

<p>Ingredient inventory: <input type="text" path="inv" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}" class="warn">Inventory Error</p>

    <p>Ingredient Min Inventory<input type="text" path="minInv" th:field="*{minInv}" placeholder="Min Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}" class="warn">Min Inventory Error</p>

    <p>Ingredient Max Inventory<input type="text" path="maxInv" th:field="*{maxInv}" placeholder="Max Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('maxInv')}" th:errors="*{maxInv}" class="warn">Max Inventory Error</p>

    <p>Ingredient id: <input type="text" th:field="*{partId}" placeholder="Part ID" class="form-control mb-4 col-4"/></p>

    <p>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul><li th:each="err: ${#fields.allErrors()}" th:text="${err}" class="warn"></li></ul>
    </div>
    </p>

<p><input type="submit" value="Submit" /></p>
</form>
<!--<p><errors path="price" cssClass=""error/><p>-->

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>